@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model string

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<h3>@Localizer["Header"]</h3>

<p class="text-white">@Model</p>