@model List<DMTP.lib.dal.Databases.Tables.Jobs>

@inject IViewLocalizer Localizer

@using Microsoft.AspNetCore.Mvc.Localization

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<h3>@Localizer["JobsHeader"]</h3>

@if (Model.Any())
{
    <partial name="_JobsListing" model="Model" />
}
else
{
    <p class="text-white">@Localizer["NoJobsAvailable"]</p>
}