@model DMTP.REST.Models.Workers.WorkerListingModel

<h3>Workers</h3>

<h4>Registration Key: @Model.RegistrationKey</h4>

@if (Model.WorkersListing.Any())
{
    <partial name="_WorkersListing" model="Model.WorkersListing" />
}
else
{
    <p class="text-white">There are currently no workers</p>
}