@model List<DMTP.lib.dal.Databases.Tables.Workers>

<h3>Workers</h3>

@if (Model.Any())
{
    <partial name="_WorkersListing" model="Model" />
}
else
{
    <p class="text-white">There are currently no workers</p>
}