@model DMTP.REST.Models.Users.EditUserModel

<h3>Edit User</h3>

<form method="post" asp-controller="Users" asp-action="AttemptUpdate" class="form-signin">
    <input type="hidden" asp-for="ID" />

    <div class="form-label-group">
        <label>First Name</label>
        <input class="form-control" type="text" asp-for="FirstName" required />
    </div>

    <div class="form-label-group">
        <label>Last Name</label>
        <input class="form-control" type="text" asp-for="LastName" required />
    </div>
    
    <div class="form-label-group">
        <label>Role</Label>
        <select asp-for="SelectedRole" class="form-control" asp-items="Model.Roles"></select>
    </div>

    <input type="submit" value="Update" class="btn btn-lg btn-primary btn-block text-uppercase" />
</form>