body, html {
    height: 100%;
    background-color: #1e1e1e;
}

h2, h3 {
    color: #FFF;
}

h3 {
    background-color: #454d55;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 6px;
    width: 100%;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-signin {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 35px;
}

.card-signin .card-body {
    padding: 2rem;
    background-color: #3e3e3e;
    color: #FFFFFF;
}

.form-signin {
    width: 100%;
}

.form {
    background-color: #454d55;
    border-radius: 6px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 5px;
}

.form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    height: auto;
    border-radius: 2rem;
}

.form-label-group>label {
    display: block;
    width: 100%;
    line-height: 1.5;
    color: #ffffff;
    margin-left: 10px;
    text-transform: uppercase;
}

.form-label-group input:not(:placeholder-shown) {
    height: 35px;
}

.download-workers {
    font-size: 32px;
    margin-right: 10px;
}

label {
    font-weight: bold;
    text-transform: uppercase;
}

.label-value {
    font-weight: normal;
    text-transform: none;
}

.inputControl {
    max-width: 250px;
}