@using DMTP.lib.Common
@model DMTP.REST.Models.HomeDashboardModel

<h3>Submit New Job</h3>

<form asp-action="AddJob" asp-controller="Home" method="get" class="form-inline">
    <div class="form-group" style="margin-right: 10px">
        <input type="text" placeholder="name" name="name" id="name" required class="form-control" style="max-width: 200px" />
    </div>

    <div class="form-group" style="margin-right: 10px">
        @Html.DropDownList("modelType", Model.ModelTypes, htmlAttributes: new { @class = "form-control" })
    </div>

    <div class="form-group" style="margin-right: 10px">
        <input type="text" placeholder="training data path" required name="trainingDataPath" id="trainingDataPath" class="form-control" style="max-width: 200px" />
    </div>

    <button type="submit" class="btn btn-secondary">Add Job</button>
</form>

<hr />

<h3>Pending Jobs</h3>
@if (Model.Jobs.Any())
{
    <partial name="_JobsListing" model="Model.Jobs" />
}
else
{
    <p class="text-white">There are no pending jobs</p>
}

<h3>Active Workers</h3>
@if (Model.Workers.Any())
{
    <partial name="_WorkersListing" model="Model.Workers" />
}
else
{
    <p class="text-white">There are no active workers</p>
}