<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      autoReload="true"
      throwExceptions="false" 
      internalLogLevel="Warn" 
      internalLogFile="dmtp_worker.log">
  <extensions>
    <add assembly="NLog.Targets.Loggly"/>
  </extensions>
  <variable name="DefaultLayout" value="${longdate} | ${level:uppercase=true:padding=5} | ${callsite} | ${message} | ${exception:format=type,tostring}"/>
  <variable name="AppName" value="DMTP Worker"/>
  <targets>
    <target name="log" xsi:type="File"
            fileName="dmtp_worker.log">
    </target>
    <target name="ColorConsole" xsi:type="ColoredConsole" layout="${DefaultLayout}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Warn" writeTo="log"/>
    <logger name="*" minlevel="Warn" writeTo="ColorConsole"/>
  </rules>
</nlog>