@using System.Reflection
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DMTP</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/c3e94c5806.js"></script>
</head>
<body>
<div class="container-fluid body-content">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="~/Home">DMTP</a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="~/Home">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Jobs">Jobs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Assemblies">Assemblies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Workers">Workers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Users">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Roles">Roles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Settings">Settings</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="~/Account/Logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <hr/>
    <div class="row-fluid">
        @RenderBody()
    </div>
    <br/>
    <footer class="footer text-muted">
        <div class="container text-center">
            &copy; 2019 - <a href="http://www.jarredcapellman.com/">Jarred Capellman</a> <br/> source code on <a href="https://github.com/jcapellman/DMTP">GitHub</a>
        </div>
    </footer>
</div>
</body>
</html>